<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.knaps.dev"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />

    <application android:icon="@drawable/knaps_icon" android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".listTest"
        	android:label="@string/app_name"
        	android:launchMode="singleInstance">
        	<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT"/>
        	</intent-filter>
        	</activity>
        	<activity android:name=".Station"/>
        	<activity android:name=".Line"/>
        	<activity android:name=".AlertSubject"/>
        <activity android:name=".DataBaseHelper"/>
        <activity android:name=".Route"/>
        <activity android:name=".RouteCreator"/>
        <activity android:name=".DisplayLines"
        android:launchMode="singleInstance"
        android:label="@string/lines_section">
        <intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT"/>
        	</intent-filter>
        </activity>
      <activity android:name=".DisplayStationList"
        android:launchMode="singleInstance"
        android:label="@string/station_section">
        <intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT"/>
        	</intent-filter>
        </activity>
    </application>
</manifest>